#!/bin/bash

# Delete entry from history
alias historyrm='HID=$(history | fzf | c1) && history -d $HID'

# Set better defaults for common ops
alias cp="cp -i"          # Confirm before overwriting something
alias mv='mv -i'		  # Confirm before overwriting something
alias sudo='sudo '        # Enable aliases to be sudo’ed
alias df='df -h'          # human-readable sizes
alias du='du -h'          # human-readable sizes
alias free='free -m'      # show sizes in MB
alias diff='colordiff -u' # Nicer diff
alias cd..="cd .."        # My usual cd mistake
alias more=less

# IP addresses
alias ippub="wget http://ipinfo.io/ip -qO -"
alias iplocal="ip addr | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="ip addr | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# httpie
for method in get post put delete; do
	alias "$method"="ht '$method'"
done

# docker aliases
alias drma='docker rm `docker ps -aq --filter status=exited --filter status=created`' # remove all docker containers
alias drmi='docker rmi -f $(docker images -f "dangling=true" -q)'                     # remove all untagged images
alias drmv='docker volume rm $(docker volume ls -f dangling=true -q)'                 # remove dangling volumes
alias dstp='docker stop `docker ps -q`'                                               # stop all containers
alias dcln='dstp; drma; drmi; drmv'                                                   # do all of the above

# kubectl aliases
alias k='kubectl'
complete -F __start_kubectl k

# git aliases
alias gitlog='git log --graph --pretty=oneline --abbrev-commit --all'

# use bat not cat
alias cat='bat'

# python http server
alias serve='python3 -m http.server'

# Extract jwt header/payload
alias jwth="tr '.' '\t' | awk '{print \$1}' | base64 -d 2>/dev/null | jq"
alias jwtp="tr '.' '\t' | awk '{print \$2}' | base64 -d 2>/dev/null | jq"
