#!/bin/bash

# Delete entry from history
alias historyrm='HID=$(history | fzf | awk "{print $1}") && history -d $HID'

# Set better defaults for common ops
alias cp="cp -i"     # Confirm before overwriting something
alias mv='mv -i'     # Confirm before overwriting something
alias sudo='sudo '   # Enable aliases to be sudo’ed
alias df='df -h'     # human-readable sizes
alias du='du -h'     # human-readable sizes
alias free='free -m' # show sizes in MB

# IP addresses
alias ippub="wget http://ipinfo.io/ip -qO -"
alias iplocal="ip addr | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="ip addr | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# httpie
for method in get post put delete; do
    alias "$method"="xh '$method'"
done

# docker aliases
alias drma='docker rm `docker ps -aq --filter status=exited --filter status=created`' # remove all docker containers
alias drmi='docker rmi -f $(docker images -f "dangling=true" -q)'                     # remove all untagged images
alias drmv='docker volume rm $(docker volume ls -f dangling=true -q)'                 # remove dangling volumes
alias dstp='docker stop `docker ps -q`'                                               # stop all containers
alias dcln='dstp; drma; drmi; drmv'                                                   # do all of the above

# kubectl aliases
alias k='kubectl'
complete -F __start_kubectl k
alias kd='export KUBECONFIG=/dev/null'
for f in e v m; do
    alias "k$f"="export KUBECONFIG=~/.kube/config_$f"
done
kd # Disable by default

# k9s
alias ks='KUBECONFIG=~/.kube/config_e k9s --context nube-k8s-dev -n default -c pods'

# use bat not cat
if command -v bat &>/dev/null; then
    alias cat='bat -pp'
    alias yat='bat -l yaml'
fi

# Use lsd not ls
if command -v lsd &>/dev/null; then
    alias ls="lsd -1 --group-directories-first"  # List files
    alias l="lsd -1 --group-directories-first"   # List files
    alias ll="lsd -Al --group-directories-first" # List all files colorized in long format
    alias lt="lsd --tree"                        # List tree
fi

# serve files
# alias serve='python3 -m http.server'
alias serve='sfz -b 0.0.0.0 -p 8000'

# Extract jwt header/payload
alias jwth="tr '.' '\t' | awk '{print \$1}' | base64 -d 2>/dev/null | jq"
alias jwtp="tr '.' '\t' | awk '{print \$2}' | base64 -d 2>/dev/null | jq"

# Poetry
alias poetry_refresh='rm -r .venv && poetry install'
# alias poetry_fix='find ~/.cache/pypoetry/ -name '*.lock' -delete'
alias poetry_fix='poetry cache clear --all . && rm -rf $(poetry config cache-dir)/artifacts'
# alias poetry_fix='poetry cache clear --all pypi'
alias poetry_env='poetry env use $(mise which python)'
alias poetry_auth='poetry config http-basic.oda-python oauth2accesstoken $(gcloud auth print-access-token)'

# Oda
alias 3dprinter='vlc http://10.2.26.80/webcam/?action=stream --logfile /dev/null'
for i in "dev dev" "staging staging" "prod prod" "prod infra-prod"; do
    a=($i)
    alias "vr-${a[1]}"="velo render -e ${a[0]} -t cluster:k8s-${a[1]}"
done

# Direnv
alias da="direnv allow"
alias dr="direnv reload"
alias dip="mise install && mise exec poetry -- poetry env remove --all && mise exec poetry -- poetry install && direnv reload"
dcp() {
    touch README.md
    touch .env
    cat <<EOF >.envrc
use mise
layout poetry
dotenv
EOF
}

# Vim
alias vim="nvim"
alias :q="exit"
alias :qa="exit"
alias vimcheat="xdg-open https://www.gbb.is/posts/2022-09-28-vim-cheatsheet/"

# Docker compose
alias dcup="docker compose up -d"
alias dcstop="docker compose stop"

# Rip grep
alias rga="rg -. --glob=!.git/"

# Lazygit
alias gg="lazygit"

# GHPR
alias ghpr="source $HOME/.local/scripts/ghpr"

# Other
alias gt="$HOME/repos/personal/gt/.venv/bin/python -m gt"
alias cal="$DOTFILES/.venv/calcure/bin/calcure"

# Notes
alias day='nvim -c :ObsidianToday -c :$'
