#!/bin/bash

# Delete entry from history
alias historyrm='HID=$(history | fzf | awk "{print $1}") && history -d $HID'

# Set better defaults for common ops
alias cp="cp -i"     # confirm before overwriting something
alias mv='mv -i'     # confirm before overwriting something
alias sudo='sudo '   # enable aliases to be sudo’ed
alias df='df -h'     # human-readable sizes
alias du='du -h'     # human-readable sizes
alias free='free -m' # show sizes in MB

# IP addresses
alias ippub="wget http://ipinfo.io/ip -qO -"
alias iplocal="ip addr | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="ip addr | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# httpie
for method in get post put delete; do
    alias "$method"="xh '$method'"
done

# docker aliases
alias drma='docker rm `docker ps -aq --filter status=exited --filter status=created`' # remove all docker containers
alias drmi='docker rmi -f $(docker images -f "dangling=true" -q)'                     # remove all untagged images
alias drmv='docker volume rm $(docker volume ls -f dangling=true -q)'                 # remove dangling volumes
alias dstp='docker stop `docker ps -q`'                                               # stop all containers
alias dcln='dstp; drma; drmi; drmv'                                                   # do all of the above

# kubectl aliases
alias k='kubectl'
complete -F __start_kubectl k
alias kd='export KUBECONFIG=/dev/null'
for f in e m; do # multiple kubectl config files
    alias "k$f"="export KUBECONFIG=~/.kube/config_$f"
done
unset f
kd # Disable by default

# k9s
alias ks='KUBECONFIG=~/.kube/config_e k9s --context nube-k8s-dev -n default -c ns'

# use bat not cat
if command -v bat &>/dev/null; then
    alias cat='bat -pp'
    alias yat='bat -l yaml'
fi

# Use lsd not ls
if command -v lsd &>/dev/null; then
    alias ls="lsd -1 --group-directories-first"  # list files
    alias l="lsd -1 --group-directories-first"   # list files
    alias ll="lsd -Al --group-directories-first" # list all files colorized in long format
    alias lt="lsd --tree"                        # list tree
fi

# serve files
alias serve='sfz -b 0.0.0.0 -p 8000'

# extract jwt header/payload
alias jwth="tr '.' '\t' | awk '{print \$1}' | base64 -d 2>/dev/null | jq"
alias jwtp="tr '.' '\t' | awk '{print \$2}' | base64 -d 2>/dev/null | jq"

# poetry
alias poetry_refresh='rm -r .venv && poetry install'
alias poetry_fix='poetry cache clear --all . && rm -rf $(poetry config cache-dir)/artifacts'
alias poetry_env='poetry env use $(mise which python)'

# direnv
alias da="direnv allow"
alias dr="direnv reload"
alias dx="direnv deny"
alias dp="mise install && mise exec poetry -- poetry env remove --all && mise exec poetry -- poetry install && direnv reload"
dn() {
    touch README.md
    touch .env
    cat <<EOF >.envrc
use mise
layout poetry
dotenv
EOF
}

# vim
alias vim="nvim"
alias :q="exit"
alias :qa="exit"
alias vimcheat="xdg-open https://www.gbb.is/posts/2022-09-28-vim-cheatsheet/"

# lazygit
alias gg="lazygit"

# gh dash
alias ghd="gh dash"

# Other
alias gt="$HOME/repos/personal/gt/.venv/bin/python -m gt"
alias cal="$DOTFILES/.venv/calcure/bin/calcure"
alias wtf="xrandr -o normal"
alias dev_tunnel='cloudflared --no-autoupdate tunnel run --token $(op read op://hemwnx22rvxga5v2zkicawq6sq/oy5g4ntwcf4lfom5lzzrzfl5ua/credential --no-newline)'

# Nvim shortcuts
alias day='cd $HOME/repos/personal/notes && nvim -c :ObsidianToday -c :$'
alias not='cd $HOME/repos/personal/notes && nvim -c :ObsidianCheck .'
alias llmchad="nvim -c ':CodeCompanionChat openai'"
alias llmollama="nvim -c ':CodeCompanionChat ollama'"

# us layout cheatsheet
en() {
    cat <<EOF
\` 1 2 3 4 5 6 7 8 9 0 - =
~ ! @ # $ % ^ & * ( ) _ +

 q w e r t y u i o p [ ]
 Q W E R T Y U I O P { }

  a s d f g h j k l ; ' \\
  A S D F G H J K L : " |

 < z x c v b n m , . /
 > Z X C V B N M < > ?
EOF
}
