; basics
[user]
  name = Guðmundur Björn Birkisson
  email = gbb@gbb.is
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIMOmyVFWXJ6Yrr7XCcokJdbGtNprIwcvHqWNnEv06TF
[pull]
  rebase = true
[push]
  default = simple
[init]
  defaultBranch = main

; git gone
[alias]
  gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"

; merge tool
[merge]
  tool = nvimdiff
  conflictstyle = zdiff3
[mergetool]
  keepBackup = false
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -n -d $LOCAL $REMOTE"
[mergetool "nvimdiff"]
  cmd = "nvim -n -d $MERGED $LOCAL $BASE $REMOTE -c 'wincmd J | wincmd ='"

; commit signing
[gpg]
  format = ssh
[gpg "ssh"]
  program = /opt/1Password/op-ssh-sign
[commit]
  gpgsign = true

; delta pager
[core]
  excludesFile = ~/.gitglobalignore
  pager = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = theme
  navigate = true
  hyperlinks = true
  keep-plus-minus-markers = false
  line-numbers = true

[delta "theme"]
    dark = true
    commit-style = "#949494"
    file-style = omit
    syntax-theme = none
    hunk-header-decoration-style = "#949494" ul
    hunk-header-file-style = "#949494"
    hunk-header-file-style = olive
    hunk-header-style = file line-number purple
    line-numbers = true
    line-numbers-left-style = "#949494"
    line-numbers-right-style = "#949494"
    line-numbers-left-format = "{nm:>2}|"
    line-numbers-right-format = "{np:>3} "
    line-numbers-plus-style = "#98c379"
    line-numbers-minus-style = bold "#be5046"
    plus-style = "#98c379"
    plus-emph-style = bold "#98c379"
    plus-non-emph-style = dim "#98c379"
    minus-style = normal "#391815"
    minus-emph-style = normal "#391815"
    minus-non-emph-style = bold "#be5046"
    blame-code-style = omit
    blame-format = "{author:<18} {commit:<6} {timestamp:<15}"
    blame-palette = "#000000" "#343434"
    zero-style = dim

; https://blog.gitbutler.com/how-git-core-devs-configure-git/
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname

; amedia config
[includeIf "gitdir:~/repos/amedia/**"]
  path = .gitconfig_amedia
