[user]
	name = Guðmundur Björn Birkisson
	email = gbbirkisson@gmail.com
[includeIf "gitdir:~/repos/bankbridge/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/repos/monifair/"]
	path = ~/.gitconfig-work