gcloud            509.0.0
kubectl           1.36.2
nodejs            24.18.0
python            3.14.6
opentofu          1.12.3
terraform         1.15.7
golang            1.26.4
uv                0.11.32
helm              3.21.2
kustomize         5.8.1
pipx              1.7.1
zig               0.16.0
github:casey/just 1.50.0
hk                0.2.3
pkl               0.27.2
usage             latest
java              openjdk-21.0.1
gradle            8.13.0
maven             3.9.12
imagemagick       7.1.2-20
pipx:podman-compose 1.6.0
