gcloud     509.0.0
kubectl    1.33.4
nodejs     22.17.1
pre-commit 4.3.0
python     3.13
opentofu   1.10.2
golang     1.25.0
uv         0.8.11
helm       3.18.5
kustomize  5.7.1
pipx       1.7.1
zig        0.14.0
just       1.42.4
hk         0.2.3
pkl        0.27.2
usage      latest
java       openjdk-24.0.1
gradle     8.13.0
