---
- hosts: "{{ host }}"

  # https://github.com/JaKooLit/Debian-Hyprland/blob/main/install-scripts/hyprlang.sh

  vars:
    # renovate: datasource=github-tags depName=hyprlang packageName=hyprwm/hyprlang
    version: v0.6.7
    dir: "/tmp/hyprwm-hyprlang"

  tasks:
    - name: Check if skip
      meta: end_play
      when: '"hyprland" in skip'

    - name: Checkout hyprlang
      ansible.builtin.git:
        repo: https://github.com/hyprwm/hyprlang.git
        dest: "{{ dir }}"
        recursive: true
        version: "{{ version }}"
        force: true

    - name: Build hyprlang
      shell:
        chdir: "{{ dir }}"
        cmd: |
          cmake --no-warn-unused-cli -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_INSTALL_PREFIX:PATH=/usr -S . -B ./build
          cmake --build ./build --config Release --target hyprlang -j `nproc`

    - name: Install hyprlang
      become: true
      shell:
        chdir: "{{ dir }}"
        cmd: |
          sudo cmake --install build
