---
- hosts: "{{ host }}"

  vars:
    dir: "{{ lookup('ansible.builtin.env', 'WALLPAPERS') }}"

  tasks:
    - name: Check if skip
      meta: end_play
      when: '"hyprland" in skip'

    - name: Create wallpaper dir
      ansible.builtin.file:
        path: "{{ dir }}"
        state: directory

    - name: Download wallpaper
      ansible.builtin.get_url:
        url: "{{ item.url }}"
        dest: "{{ dir }}/{{ item.name }}"
      loop:
        - name: city.png
          url: https://w.wallhaven.cc/full/5y/wallhaven-5yd6d5.png
